[project]
name = "domyn-swarm"
version = "0.1.0"
description = "CLI utility command to launch Ray + vLLM clusters on Slurm nodes using simple configuration files"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "huggingface-hub>=0.32.6",
    "jinja2>=3.1.6",
    "pyyaml>=6.0.2",
    "requests>=2.32.4",
    "rich>=14.0.0",
    "typer>=0.16.0",
]

[dependency-groups]
dev = [
    "ruff>=0.11.13",
]

[project.scripts]
domyn-swarm = "domyn_swarm.cli:app"

[project.entry-points."uv.run"]
domyn-swarm = "domyn_swarm.cli:app"
