[project]
name = "domyn-swarm"
version = "0.3.0"
description = "CLI utility command to launch Ray + vLLM clusters on Slurm nodes using simple configuration files"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "blake3>=1.0.5",
    "huggingface-hub>=0.32.6",
    "jinja2>=3.1.6",
    "openai>=1.88.0",
    "pandas>=2.3.0",
    "pyarrow>=20.0.0",
    "pydantic>=2.11.7",
    "pyyaml>=6.0.2",
    "requests>=2.32.4",
    "rich>=14.0.0",
    "tenacity>=9.1.2",
    "typer>=0.16.0",
]

[dependency-groups]
dev = [
    "commitizen>=4.8.3",
    "ruff>=0.11.13",
]
bench = [
    "datasets>=3.6.0",
    "vllm>=0.9.1",
]

[project.scripts]
domyn-swarm = "domyn_swarm.cli:app"

[project.entry-points."uv.run"]
domyn-swarm = "domyn_swarm.cli:app"

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$version"
version_scheme = "semver"
version_provider = "uv"
update_changelog_on_bump = true
major_version_zero = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

