global:
  scrape_interval: {{ monitoring.scrape_interval }}
  external_labels:
    swarm: "{{ cfg.name }}"

scrape_configs:
  - job_name: vllm
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - {{ targets_path }}
  - job_name: nginx
    metrics_path: /metrics
    static_configs:
      - targets: ["127.0.0.1:{{ monitoring.exporter_port }}"]
