model: "/leonardo_scratch/fast/iGen_train/models/Qwen3-32B"

#model: Qwen/Qwen3-32B
name: qwen-32b
revision: main
gpus_per_replica: 4
replicas: 4
wait_endpoint_s: 1800
image: "/leonardo_work/iGen_train/fdambro1/images/vllm_0.11.2.sif"
args: "--max-model-len 32768 --max-num-seqs 1024 --dtype bfloat16 --gpu-memory-utilization 0.95 --max-num-batched-tokens 32768 --enforce-eager"

env:
  HF_HOME: /leonardo_scratch/fast/iGen_train/shared_hf_cache_2/
backend:
  type: slurm
  partition: boost_usr_prod
  account: AIFAC_L07_016
  qos: qos_llm_min
  time_limit: "24:00:00"
  endpoint:
    nginx_image: "/leonardo_work/iGen_train/fdambro1/images/nginx.sif"
    nginx_timeout: "8h"
    wall_time: "24:00:00"
watchdog:
  enabled: true
  readiness_timeout: 600
