model: Qwen/Qwen3-30B-A3B

name: qwen3-30b
revision: main
gpus_per_replica: 4
replicas: 1
wait_endpoint_s: 1800
args: >-
  --max-model-len 32768
  --max-num-seqs 128
  --dtype bfloat16
  --gpu-memory-utilization 0.90
  --max-num-batched-tokens 8192
  --compilation-config='{"level":"3","cudagraph_capture_sizes":[64,32,16,8,4,2,1], "use_inductor": true, "max_capture_size": 64, "cudagraph_copy_inputs": true, "cudagraph_num_of_warmups": 2}'

image: "/path/to/vllm.sif"
env:
  HF_HOME: /path/to/shared_hf_cache
backend:
  type: slurm
  partition: partition_name
  account: account_name
  qos: qos_name
  endpoint:
    port: 9001
    cpus_per_task: 4
    wall_time: "36:00:00"
    nginx_image: "/path/to/nginx.sif"
